<html lang="es"><head>
	<meta charset="utf-8">

	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<title>Simulacion</title>
	<link rel="stylesheet" href="normalize.css">
	<link rel="stylesheet" href="/static/estilos.css">
	<link rel="stylesheet" href="/static/responsive.css">
</head>
<body>
	<!-- comentario de lo que sea -->
	<header>

		<h1>Lagrange</h1>

	</header>

	
	<form action='/calcular' method='get'>
		    <input name='lx' type='text'></input>
            <input name='ly' type='text'></input>
	        <button type='submit'> Guardar</button>
	</form>
    <section id="contenido">
        {{hola}}    
    </section>
	<footer>
		<p>Elvis Edson Basilio Chambi</p>
	</footer>
